.bg-off-white 
{
  background-color: rgb(240,240,240);
}

.flex_col_center 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex_row_center 
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-style 
{
  outline: none !important;
  color: black !important;
  border: none !important;
  background-color: rgb(240,240,240) !important;
}

.dropdown-style:hover 
{
  background-color: white !important;
}

.dropdown-style:focus
{
  background-color: rgb(240,240,240) !important;
}

.bg-grey 
{
  background-color: grey;
}

.bg-light-grey 
{
  background-color: rgb(180,180,180);
}

@keyframes shaking 
{
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}

.shake 
{
animation: shaking 0.5s ease-in-out;
}

.button 
{
  background-color:  rgb(240,240,240);
  border: none;
}

.button:hover 
{
  background-color: white;
  border: 1px solid black;
  border-radius: 5%;
}
